@media (min-width: 300px) and (max-width: 820px) {
    .toggle{
      display: block;
      color: white;
      margin: 0 32px;
      line-height: 80px;
      font-size: 32px;
      float: right;

    }

    ul{
      position: fixed;
      text-align: center;
      width: 100%;
      background-color: rgba(9, 138, 110, 0.851);
      top: 80px;
      right: -100%;
      transition: all 0.5s;
    }
    #checkbox:checked ~ ul{
      right: 0;
    }

    nav ul{
      display: flex;
      flex-direction: column;
    }

    .logo{
      width: 100%;
      margin-left: 10%;
     
    }